.auth-form {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
    font-size: 2rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
    text-align: center;
}

.auth-form label {
    font-size: 1rem;
    color: var(--text-color);
}

.auth-form input {
    width: 100%;
    padding: 0.7rem;
    margin: 0.5rem 0 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.auth-form button {
    width: 100%;
    padding: 0.7rem;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-form button:hover {
    background-color: var(--secondary-color);
}
